**/__pycache__/

venv
.git

/config.yaml
**/config.yaml

/setup.py

/private
/logs

/ami/flask/static/images/

/filespace/*
!/filespace/.gitkeep

/modules/*
!/modules/.gitkeep

# Generated gRPC files
/ami/protos/generated/*
!/ami/protos/generated/__init__.py
